# finviz api download

In [1]:
from finvizfinance.screener.valuation import Valuation

foverview = Valuation()

filters_dict = {
    'Exchange':'Any',
    'Country': 'USA',
    'Market Cap.': '+Large (over $10bln)',
    'Industry': 'Stocks only (ex-Funds)',
}

foverview.set_filter(filters_dict=filters_dict)

df = foverview.screener_view()

[Info] loading page [#############################-] 35/36

In [2]:
df.shape

(713, 17)

In [3]:
sorted_stocks = df.sort_values('Market Cap', ascending=False)
sorted_stocks.head()

,Ticker,Market Cap,P/E,Fwd P/E,PEG,P/S,P/B,P/C,P/FCF,EPS This Y,EPS Next Y,EPS Past 5Y,EPS Next 5Y,Sales Past 5Y,Price,Change,Volume
460,NVDA,4.454680e+12,45.41,23.70,0.48,23.80,37.47,73.50,57.61,56.57%,65.22%,91.83%,49.28%,64.24%,183.32,0.0295,198837362.0
299,GOOGL,3.963440e+12,32.39,29.15,1.67,10.28,10.25,40.24,53.89,32.24%,5.95%,26.76%,17.48%,16.73%,328.38,0.0198,35269049.0
298,GOOG,3.961480e+12,32.39,29.15,1.67,10.28,10.25,40.22,53.86,32.24%,5.96%,26.76%,17.48%,16.73%,328.38,0.0193,22689044.0
3,AAPL,3.639940e+12,33.20,27.17,2.61,8.75,49.62,66.55,36.85,10.34%,10.73%,17.91%,10.40%,8.71%,247.65,0.0039,54139306.0
433,MSFT,3.300790e+12,31.60,23.65,1.33,11.23,9.09,32.36,42.31,18.04%,16.66%,18.80%,17.77%,14.52%,444.11,-0.0229,37767504.0

In [4]:
positive_stocks = sorted_stocks[sorted_stocks['P/E'] > 0]
# positive_stocks.head()
positive_stocks.shape

(629, 17)

In [5]:
highest_earning_stocks = positive_stocks[positive_stocks['P/E'] < (0.5* positive_stocks['Market Cap'] / 1000000000)]
highest_earning_stocks.head()
highest_earning_stocks.shape

(214, 17)

In [6]:
print(highest_earning_stocks.columns.tolist())

['Ticker', 'Market Cap', 'P/E', 'Fwd P/E', 'PEG', 'P/S', 'P/B', 'P/C', 'P/FCF', 'EPS This Y', 'EPS Next Y', 'EPS Past 5Y', 'EPS Next 5Y', 'Sales Past 5Y', 'Price', 'Change', 'Volume']

In [7]:
analysis_stocks = highest_earning_stocks[['Ticker', 'Price', 'Market Cap', 'P/E', 'EPS Past 5Y', ]].copy()
analysis_stocks.head()

    Ticker   Price    Market Cap    P/E EPS Past 5Y
460   NVDA  183.32  4.454680e+12  45.41      91.83%
299  GOOGL  328.38  3.963440e+12  32.39      26.76%
298   GOOG  328.38  3.961480e+12  32.39      26.76%
3     AAPL  247.65  3.639940e+12  33.20      17.91%
433   MSFT  444.11  3.300790e+12  31.60      18.80%

In [8]:
analysis_stocks.loc[:, ['Earnings (in B)']] = analysis_stocks['Market Cap'] / (1000000000 * analysis_stocks['P/E'])
analysis_stocks.head(10)

    Ticker   Price    Market Cap     P/E EPS Past 5Y  Earnings (in B)
460   NVDA  183.32  4.454680e+12   45.41      91.83%        98.099097
299  GOOGL  328.38  3.963440e+12   32.39      26.76%       122.366162
298   GOOG  328.38  3.961480e+12   32.39      26.76%       122.305650
3     AAPL  247.65  3.639940e+12   33.20      17.91%       109.636747
433   MSFT  444.11  3.300790e+12   31.60      18.80%       104.455380
40    AMZN  231.31  2.472750e+12   32.68      36.89%        75.665545
58    AVGO  328.80  1.558930e+12   69.06      49.76%        22.573559
413   META  612.96  1.544980e+12   27.08      29.99%        57.052437
626   TSLA  431.44  1.434890e+12  288.28           -         4.977418
91   BRK-B  483.83  1.043480e+12   15.47       4.43%        67.451842

In [9]:
analysis_stocks = analysis_stocks[['Ticker', 'Price', 'Earnings (in B)', 'EPS Past 5Y', ]].copy()
analysis_stocks.rename(columns={'EPS Past 5Y': 'Earnings Growth'}, inplace=True)
# earnings_growth_col = analysis_stocks.pop('Earnings Growth')
# df.insert(3, earnings_growth_col.name, earnings_growth_col)  # Is in-place

analysis_stocks.head(10)

    Ticker   Price  Earnings (in B) Earnings Growth
460   NVDA  183.32        98.099097          91.83%
299  GOOGL  328.38       122.366162          26.76%
298   GOOG  328.38       122.305650          26.76%
3     AAPL  247.65       109.636747          17.91%
433   MSFT  444.11       104.455380          18.80%
40    AMZN  231.31        75.665545          36.89%
58    AVGO  328.80        22.573559          49.76%
413   META  612.96        57.052437          29.99%
626   TSLA  431.44         4.977418               -
91   BRK-B  483.83        67.451842           4.43%

In [10]:
import pandas as pd
# from pandas import read_excel

sheet = 'constituents' # change it to your sheet name, you can find your sheet name at the bottom left of your excel file
file_name = 's&p500-constituents.xlsx' # change it to the name of your excel file
constituents = pd.read_excel(file_name, sheet_name = sheet)
constituents.head(10) # shows headers with top 5 rows

  Ticker                 Name                  Sector
0    MMM                   3M             Industrials
1    AOS          A. O. Smith             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV               AbbVie             Health Care
4   ABMD              Abiomed             Health Care
5    ACN            Accenture  Information Technology
6   ATVI  Activision Blizzard  Communication Services
7    ADM                  ADM        Consumer Staples
8   ADBE                Adobe  Information Technology
9    AAP   Advance Auto Parts  Consumer Discretionary

In [11]:
joined_stocks = pd.merge(analysis_stocks, constituents, on ='Ticker', how ='left').copy()
name_col = joined_stocks.pop('Name')
joined_stocks.insert(0, name_col.name, name_col)  # Is in-place
joined_stocks.head(25)

,Name,Ticker,Price,Earnings (in B),Earnings Growth,Sector
0,Nvidia,NVDA,183.32,98.099097,91.83%,Information Technology
1,Alphabet (Class A),GOOGL,328.38,122.366162,26.76%,Communication Services
2,Alphabet (Class C),GOOG,328.38,122.305650,26.76%,Communication Services
3,Apple,AAPL,247.65,109.636747,17.91%,Information Technology
4,Microsoft,MSFT,444.11,104.455380,18.80%,Information Technology
5,Amazon,AMZN,231.31,75.665545,36.89%,Consumer Discretionary
6,Broadcom,AVGO,328.80,22.573559,49.76%,Information Technology
7,Meta Platforms,META,612.96,57.052437,29.99%,Information Technology
8,Tesla,TSLA,431.44,4.977418,-,Consumer Discretionary
9,Berkshire Hathaway Inc Class B,BRK-B,483.83,67.451842,4.43%,Financials
10,Berkshire Hathaway Inc Class A,BRK-A,724079.50,67.481865,4.43%,Financials
11,Eli Lilly & Co,LLY,1078.52,19.115486,18.77%,Health Care
12,Walmart,WMT,119.36,22.720802,6.82%,Consumer Staples
13,JPMorgan Chase,JPM,302.04,54.488403,17.66%,Financials
14,Visa,V,325.28,19.317081,16.47%,Information Technology
15,ExxonMobil,XOM,133.61,29.029366,18.47%,Energy
16,Johnson & Johnson,JNJ,218.01,26.608409,14.90%,Health Care
17,Oracle,ORCL,173.88,15.287026,7.13%,Information Technology
18,Mastercard,MA,527.57,14.041494,11.82%,Information Technology
19,Micron Technology,MU,389.11,11.839686,26.19%,Information Technology
20,Costco,COST,982.86,8.286040,15.09%,Consumer Staples
21,Advanced Micro Devices,AMD,249.80,3.294022,26.91%,Information Technology
22,Netflix,NFLX,85.36,11.546773,33.00%,Communication Services
23,Home Depot,HD,384.64,14.598170,7.79%,Consumer Discretionary
24,AbbVie,ABBV,216.15,2.342244,-14.67%,Health Care

In [12]:
joined_stocks.columns

Index(['Name', 'Ticker', 'Price', 'Earnings (in B)', 'Earnings Growth',
       'Sector'],
      dtype='str')

In [15]:
from datetime import datetime
import openpyxl
import os

def save_excel_sheet(df, filepath, sheetname, index=False):
    # Create file if it does not exist
    if not os.path.exists(filepath):
        df.to_excel(filepath, sheet_name=sheetname, index=index)

    # Otherwise, add a sheet. Overwrite if there exists one with the same name.
    else:
        with pd.ExcelWriter(filepath, engine='openpyxl', if_sheet_exists='replace', mode='a') as writer:
            df.to_excel(writer, sheet_name=sheetname, index=index)

sheetname = datetime.now().strftime("%m-%d-%Y--%H-%M")

save_excel_sheet(joined_stocks, 'stock-data.xlsx', sheetname)